/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 20px 0;
  
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-user {
  display: block;
}

.story-remove{
  border-radius: 50%;
  border: none;
  background-color: #ff6600;
  float: right;
  padding: 5px;
  margin-right: 5px;
}

.story-remove:active{
  background-color: #8b3800;
}

h4{
  margin: 20px;
}
